.small-container {
    min-width: 250px;
    max-width: 24%;
    margin: 2px;
    padding: 0;
}

.small-container:hover{
    cursor: pointer;
}

.small-container > img {
    width: 100%;
    height: 50px;
}